* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --navy-color: #33323d;
  --gray-color: #5b5a63;
  --green-color: #5fb4a2;
  --main-transition: 0.3s;
}
body {
  font-family: "Public Sans", sans-serif !important;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-family: serif;
}
/* Start Nav */
nav img {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  cursor: pointer;
}
nav img:hover {
  filter: invert(60%) sepia(58%) saturate(286%) hue-rotate(117deg)
    brightness(96%) contrast(87%);
  -webkit-filter: invert(60%) sepia(58%) saturate(286%) hue-rotate(117deg)
    brightness(96%) contrast(87%);
}
nav li a {
  letter-spacing: 2px;
  color: var(--navy-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
nav li.active a {
  color: var(--green-color);
}
@media (max-width: 768px) {
  nav ul {
    right: calc(1.5rem * 0.5);
    padding: 30px 60px !important;
    top: 100%;
    background-color: var(--navy-color);
    position: absolute;
    z-index: 10;
    min-width: 50%;
    transition: var(--main-transition);
    transform-origin: top;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  nav ul.links.active {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
  nav li a {
    color: white;
    font-size: 13px;
  }
}
nav li a:hover {
  color: var(--green-color);
}
/* End Nav */
/* Start LandingPage */
@media (min-width: 992px) {
  .landing-page .info {
    position: absolute;
    max-width: 420px;
    bottom: 0;
  }
}
.landing-page h1 {
  line-height: 3rem;
}
.landing-page button {
  background-color: #203a4c;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.landing-page button div {
  background-color: #1f3547;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.landing-page button:hover {
  background-color: var(--green-color);
}
.landing-page button:hover div {
  background-color: #52ad9a;
}
/* End LandingPage */
/* Start About */
.about {
  margin: 120px 0;
}
.about img {
  object-fit: cover;
}
.about .detials {
  border-top: solid #e6e3e3;
  border-bottom: solid #e6e3e3;
  width: 75%;
}
@media (max-width: 768px) {
  .about .detials {
    width: 100%;
  }
}
.about h1 {
  color: var(--navy-color);
}
.about p {
  color: var(--navy-color);
  opacity: 0.8;
}
@media (min-width: 992px) {
  .about p {
    font-size: 1.4rem;
    line-height: 34px;
  }
}
.button {
  letter-spacing: 3px;
  color: var(--navy-color);
  padding: 20px;
  border: 2px solid var(--navy-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  min-width: 200px;
}
.button:hover {
  color: white;
  background-color: var(--navy-color);
}
@media (max-width: 768px) {
  .button {
    padding: 15px;
    min-width: 175px;
    font-size: 0.8rem;
  }
}
/* End About */
/* Start Contact */
.contact h1 {
  width: 60%;
}
@media (max-width: 991px) {
  .contact h1 {
    width: 100%;
  }
}
.contact .line {
  max-width: 800px;
  height: 2px;
  background-color: #e6e3e3;
}
.contact a {
  max-width: 176px;
}
/* Start Contact */
/* Start Footer */
footer {
  background-color: var(--navy-color);
  margin-top: 120px;
}
footer a {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer ul.links a:hover {
  color: var(--green-color) !important;
}
footer ul.social img:hover {
  filter: invert(60%) sepia(58%) saturate(286%) hue-rotate(117deg)
    brightness(96%) contrast(87%);
  -webkit-filter: invert(60%) sepia(58%) saturate(286%) hue-rotate(117deg)
    brightness(96%) contrast(87%);
}
/* End Footer */
/* Contact file styles  */
@media (min-width: 769px) {
  .contact-section .content {
    border-top: solid #e6e3e3;
    border-bottom: solid #e6e3e3;
  }
}
.contact-section .inputs form label {
  color: var(--navy-color);
}
.contact-section .inputs form input,
.contact-section .inputs form textarea {
  outline: none;
  background-color: #e6e6e6;
}
.contact-section .inputs form textarea {
  resize: none;
  height: 100px;
}
.contact-section .inputs form input.submit-btn {
  background-color: #203a4c;
}
/* Project file styles */
.project .content {
  border-top: solid #e6e3e3;
  border-bottom: solid #e6e3e3;
}
@media (min-width: 769px) {
  .project .img {
    width: 50%;
  }
  .project .content {
    width: 40%;
    max-width: 450px;
  }
}
.project .content p {
  color: var(--gray-color);
  line-height: 30px;
}
.project .content a {
  max-width: 200px;
}
/* Manage file styles */
.manage .left-part,
.manage .previous-and-next {
  border-top: 2px solid #e6e3e3;
  border-bottom: 2px solid #e6e3e3;
}
.manage p {
  color: var(--gray-color);
  line-height: 30px;
  font-size: 17px;
}
.manage span {
  color: #5fb4a2;
}
.manage .previous {
  border-right: 2px solid #e6e3e3;
}
.manage .previous-content,
.manage .next-content {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.manage .previous-content:hover,
.manage .next-content:hover {
  color: var(--green-color);
}
@media (max-width: 768px) {
  .manage .previous {
    border-right: 0;
    border-bottom: 2px solid #e6e3e3;
  }
}
